/**
 * Global styles and CSS variables.
 * This file defines the overall look and feel of the application, including
 * colors, typography, spacing, and layout. It also sets up CSS variables
 * that can be used throughout the app for consistent styling.
 * This file is imported in the main HTML file and applies to the root of the application.
 * It's not adopted by WebComponents, so it provides a global variable baseline for the
 * entire app, but not reusable classes
 */

:root {
  font-size: 13px;
  font-family: sans-serif;
  box-sizing: border-box;

  --primary-color: #5a0;
  --error-color: #f48771;


  --text-color: #ccc; 
  --app-bg-color: #191a1b;

  --action-item-bg-color: rgba(255, 255, 255, 0.1);

  --ui-border-radius: 4px;
  --panel-bg-color: #191a1b;

  --pane-border: 1px solid var(--pane-border-color);
  --pane-border-color: #2a2b2c;
  --pane-bg-color: #191a1b;

  --workspace-bg-color: #121314;

  --page-bg-color: var(--bg-color);
  --menu-bar-bg: #252526;
  --menu-bar-text-color: #ccc;
  --input-radius: var(--ui-border-radius);
  --input-border: 1px solid #555;
  --input-focus-border: 1px solid #08F;
  --input-bg-color: var(--bg-color);
  --input-text-color: #fff;
  --output-text-color: #ddd;

  --editor-line-height: 1.5;
  --editor-font-family: 'Charter', 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --editor-font-size: 1.25rem;
  --editor-padding: 1em;
  --editor-selection-bg: rgba(200, 255, 0, 0.5);
  --editor-selection-radius: 2px;
  --editor-bg-color: #fff;
  --editor-text-color: #000;
  --editor-box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);

  --editor-hr-color: #09f;

  --chat-text-color: var(--text-color);
  --chat-vertical-gap: 14px;
  --chat-request-text-color: var(--chat-text-color);
  --chat-response-text-color: var(--chat-text-color);
  --chat-thinking-text-color: #8c8c8c;
  --chat-error-text-color: var(--error-color);
  --chat-error-border-color: var(--error-color);
  --chat-error-bg-color: rgba(244, 136, 113, 0.1);
  --chat-request-bg-color: rgba(200, 255, 255, 0.07);

  --gap: 4px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: var(--font-family);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--page-bg-color);
}

body>.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--app-bg-color);
}

header.app-header,
footer.app-footer {
  flex-shrink: 0;
  overflow: hidden;
}

header.app-header {
  height: 36px;
  border-bottom: var(--pane-border);
  display: flex;
  align-items: center;
  padding: 0 calc(var(--gap) *2);
  gap: var(--gap);
}

footer.app-footer {
  height: 24px;
  font-size: 0;
  border-top: var(--pane-border);
}

main.app-main {
  flex: 1;
  display: flex;
  min-height: 0;
}

.center {
  flex: 1;
  display: flex;
  min-width: 0;
}

.pane-view {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.pane-view.left {
  width: 220px;
  border-right: var(--pane-border);
}

.pane-view.right {
  width: 300px;
  border-left: var(--pane-border);
}

.workspace {
  background-color: var(--workspace-bg-color);
}

.selection {
  background: var(--editor-selection-bg);
}